<!DOCTYPE html>
<head>
	<title>Friendly Rentals</title>
	<link rel="stylesheet" href="/css/style.css">
	{{#each jsscripts}}
	<script src="/{{this}}"></script>
	{{/each}}
</head>
<body>
	<h2>Friendly Rentals</h2>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/cars">Cars</a></li>
		<li><a href="/customers">Customers</a></li>
		<li><a href="/rentals">Rentals</a></li>
		<li><a href="/maintenance">Maintenance</a></li>
		<li><a href="/bodies">Body types</a></li>
		<li><a href="/customerpreferences">Customer Preferences</a></li>
	</ul>

	{{{body}}}
</body>
</html>