
<div>
<h2>Customer Preferences</h2>

<table>
	<tr>
		<th>CustomerID</th>
		<th>carID</th>
	</tr>

{{#each customerpreferences}}
	<tr>
		<td>{{this.customerID}}</td>
		<td>{{this.bodyID}}</td>
		<td><button onclick="deleteCustomerPreferences( {{this.customerID}},{{this.bodyID}} )">Delete</button></td>
	</tr>
{{/each}}
</table>

<div class="row">
	<div class="columnLeft">
		<h4>Add New Preference</h4>
		<form id="addpreference" action="/customerpreferences" method="post">
			<label for="customerID">Customer ID: </label><br>
			<input type="text" id="customerID" name="customerID"><br>
			<label for="bodyID">Body ID: </label><br>
			<input type="text" id="bodyID" name="bodyID"><br>
			<br>
			<input type="submit" value="Submit">  
		</form>
  </div>
  
  <div class="columnMiddle">
  	<h4>Search preferences by customer</h4>
    <form>
		<label for="customer">Customer ID: </label><br>
		<input type="text" id="customer" required><br>
		<br>
		<input type="submit" value="Search">
    </form>
  </div>


  <div class="columnRight">
    <h4>Delete a preference</h4>
      <form>
        <label for="delCustomer">Customer ID: </label><br>
        <input type="text" id="delCustomer"><br>
        <label for="body">body type: </label><br>
		<select id="body" name="body">
			<option value="sedan">Sedan</option>
			<option value="suv">SUV</option>
			<option value="truck">Truck</option>
			<option value="van">Van</option>
		</select><br>
		<br>
        <input type="submit">
      </form>
  </div>
</div>

</div>
