
<div>
<h2>Customer Preferences</h2>

<div class="row">
	<div class="columnLeft">
		<h4>Add New Preference</h4>
		<form>
			<label for="customerID">Customer ID: </label><br>
			<input type="text" id="car_id"><br>
			<label for="bodyID">Body ID: </label><br>
			<input type="text" id="bodyID"><br>
			<br>
			<input type="submit">  
		</form>
  </div>
  
  <div class="columnMiddle">
  	<h4>Search preferences by customer</h4>
    <form>
		<label for="customer">Customer ID: </label><br>
		<input type="text" id="customer"><br>
		<br>
		<input type="submit">
    </form>
  </div>


  <div class="columnRight">
    <h4>Delete a preference</h4>
      <form>
        <label for="delCustomer">Customer ID: </label><br>
        <input type="text" id="delCustomer"><br>
        <label for="body">body type: </label><br>
		<select id="body" name="body">
			<option value="sedan">Sedan</option>
			<option value="suv">SUV</option>
			<option value="truck">Truck</option>
			<option value="van">Van</option>
		</select><br>
		<br>
        <input type="submit">
      </form>
  </div>
</div>

</div>